/* nav{
  background-color: black;
  height:100px;
  text-align: center;
}
nav a 
{
  color:white;
} */
ul{
  list-style:None;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
*
{
  margin:0;
}
nav ul{
  padding-top:30px;
}
.btnC
{
    width:150px;
    height: 50px;
    border-radius: 40px;
    background: #54a0ff;
    border-color:#54a0ff;
    /* //background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(28,110,91,1) 100%); */
    color:white;
    font-weight: 100;
}
.image
{
  width:50%;
}
.blogd
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.devbar input
{
  text-align: center;
  margin:10px;
  width:50%;
  margin-left: 25%;
}
.inputs
{
    display: inline;
}
.tagc
{
  margin:5px;
}
.nav-foot
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color:white;
}
.nav-foot img{
    width:200px;
}
.atags a i
{
  font-size:50px;
  margin:2px;
  height:50px;
}
.atags a i:hover
{
 color:white;
}
.code_profile
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:2px solid black;
  width:100%;
  box-sizing: border-box;
}
.gituser
{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: dashed;
  width: fit-content;
  justify-content: center;
  padding: 1%;
  border-radius: 10%;
  border-color: blueviolet;
  border-width: 5%;
}
.imageG{
  width:200px;
}
.bio
{
  margin:5px;
  width:50%;
  border:1px solid rgb(78, 189, 223);
  background-color: #54a0ff;
}
